<%- include("../includes/head.ejs") %>
    <title>Sign Up</title>
</head>
<body>
    <%- include("../includes/navigation.ejs") %>
    <main>
        <div>
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="text" name="password" id="password">
            </div>
            <div>
                <label for="confirm-password">Confirm Password</label>
                <input type="text" name="confirm-password" id="confirm-password">
            </div>
            <button>Sign Up</button>
        </div>
    </main>
</body>