<%- include("../includes/head.ejs") %>
    <title>Sign Up</title>
</head>
<body>
    <%- include("../includes/navigation.ejs") %>
    <main>
        <form action="/signup" method="POST">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="text" name="password">
            </div>
            <div>
                <label for="confirm-password">Confirm Password</label>
                <input type="text" name="confirm-password">
            </div>
            <button type="submit">Sign Up</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
    </main>
</body>