<%- include("../includes/head.ejs") %>
    <title>Sign Up</title>
</head>
<body>
    <%- include("../includes/navigation.ejs") %>
    <main>
        <form action="/signup" method="POST">
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div>
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <button type="submit">Sign Up</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
        <% if (flash) { %>
            <h3><%= flash %></h3>
        <% } %>
    </main>
</body>